<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body class="body-for-home">
  <!-- <img src="/assets/imgs/fundo.jpg" alt=""> -->
  <video autoplay muted loop="true">
      <source src="/assets/imgs/video.mp4" type="video/mp4">
  </video>
    <section class="home-page">
        <h1>A sua agenda virtual</h1>
        <p>A melhor, para não deixar que esqueça dos seus compromissos.</p>
        <div class="btns">

            <a class="btn1" >Conhecer</a>

           <a href="/login/index" class="btn2">Entrar</a>
        </div>
    </section>

    <script src="/assets/js/bundle.js"></script>

</body>
</html>